
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  background:transparent none repeat scroll 0 0;
  border:0 none;
  font-size:100%;
  font-weight: normal;
  margin:0;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:0;
  padding:0;
  vertical-align:baseline;
}
* {
	outline: none;
}
body {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}
.wrapper {
 margin: 0 auto;
 width: 1020px; 
}
/*----------basics---------*/
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 1px;
	line-height: 1.2em;
  margin-bottom: 10px;
}
h1,
h1 a {
  font-size: 28px;
  text-decoration: none;
}
h2,
h2 a {
  font-size: 24px;
  text-decoration: none;
}
h3,
h3 a {
  font-size: 19px;
  text-decoration: none;
}
h4,
h4 a {
  font-size: 16px;
  text-decoration: none;
}
a,
h1,
h2,
h3,
h4,
h5 {
  color: #5b744c;
}
a:hover {
  color: #111;
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
p {
  margin: 7px 0;
}
ul,
ol {
  padding: 0 0 0 20px;
}
.clear {
  clear: both;
  height: 5px;
}
code {
  display: block;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
input[type=submit] {
  padding: 3px 12px;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
}
input[type=submit]:hover {
  background: #7a9c66;
  border-color: #7a9c66;
  color: #fff;
  cursor: pointer;
}
input[type=text],
input[type=password],
textarea {
  padding: 4px;
  margin: 4px 0;
}
textarea {
  font-size: 12px;
  font-family: sans-serif;
}
div.description {
  color: #777;
  font-size: 11px !important;
  padding: 0 5px;
}
/*--------header--------*/
#header {
  height: 90px;
}
#header .wrapper {
  background: transparent;
  padding: 0 10px;
}
#header a {
  text-decoration: none;
}
#logo {
  float: left;
  padding: 25px 0 0 20px;
  width: 300px;
}
#logo img {
  float: left;
}
#logo h1#site-name a {
  font-size: 25px;
  float: left;
  padding: 7px 10px;
  text-transform: uppercase;
}
#logo h1#site-name a:hover {
  color: #fff;
}
/*-------navigation-------*/
#nav del.wrap {
  text-decoration: none;
}
#nav {
  float: right;
  text-align: right;
  margin: 32px 0 0;
  width: 65%;
}
#nav ul {
  padding: 0;
}
#nav ul li {
  display: inline;
  font-size: 11px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
#nav ul li a {
  padding: 4px 10px 9px;
  position: relative;
}
#nav ul li a:hover {
  color: #fff;
}
#nav ul li.expanded a:hover,
#nav ul li.expanded.sfHover a,
#nav ul li.expanded.sfHover a.active {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
#nav ul li a.active,
#nav ul li.active-trail a {
 color: #fff;
}
#nav ul li.expanded ul {
  width: 13em;
  right: 0;
  color: #fff;
  display: none; /* make sure the submenus aren't visible on load */
  padding: 0;
  position: absolute;
  top: 1.9em;
  z-index: 1200;
}
#nav ul ul li {
  display: block;
  margin: 0 !important;
  padding: 5px;
  position: relative;
  width: 12.1em;
  line-height: normal;
  text-align: left;
}
#nav ul ul li a.active,
#nav ul ul ul li a.active {
  background: transparent;
}
#nav ul li.expanded.sfHover ul li a,
#nav ul li.expanded.sfHover ul ul li.expanded.sfHover a,
#nav ul li.expanded.sfHover ul li a.active,
#nav ul li.expanded.sfHover ul ul li.expanded.sfHover a.active {
  border: none;
  display: block;
  height: auto;
  padding: 2px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#nav li.expanded.sfHover ul li a:hover,
#nav li.expanded.sfHover ul ul li a:hover,
#nav li.expanded.sfHover ul li.expanded.sfHover a:hover,
#nav li.expanded.sfHover ul ul li.expanded.sfHover a:hover {
  background: #5b744c;
  padding: 2px 5px;
}
#nav li .expanded ul {
  margin: -1.7em 13em 0 0;
}
#nav ul ul li.first {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}
#nav ul ul li.last {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}
/*---------breadcrumb-----------*/
#breadcrumb {
  background: transparent url(images/breadcrumbrpt.png) repeat-x 0 0;
 display: block;
 height: 76px;
}
.breadcrumb {
 background: transparent url(images/breadcrumb.png) no-repeat 50% 0;
 color: #fff;
 font-size: 15px;
 padding: 28px;
}
.breadcrumb a {
  color: #fff;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
/*---------main------------*/
#main {
  background: #fff;
  clear: both;
  margin: 0;
  padding: 30px;
}
.sidebar #content {
  float: left;
  padding: 0 0 20px;
  width: 60%;
}
#sidebar {
  float: right;
  padding: 10px 20px 20px;
  width: 33%;
}
#sidebar a,
.box a {
  text-decoration: none;
}
#sidebar a:hover,
.box a:hover {
  color: #5b744c;
  text-decoration: underline;
}
/*----------tabs-------------*/
#tabs {
   margin: 0 0 15px 0;
}
ul.tabs.primary {
  background: #fff url(images/tabsbg.png) no-repeat 0 100%;
  padding: 12px 0 0;  
  margin: 0;
  border: none;
  overflow: hidden;
  line-height: 2em;
}
ul.tabs.primary li a {
  padding: 6px 15px;
  font-size: 10px;
  line-height: 1.8em;
  text-transform: uppercase;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
ul.tabs.primary li a.active,
ul.tabs.primary li.active a {
  background: #fff;
  border-bottom: none;
}
ul.tabs.primary li a.active:hover {
  background: #fff;
}
ul.tabs.secondary {
  border: none;
  padding: 7px 0 0;
}
ul.tabs.secondary li {
  border: none;
  padding: 0;
  margin: 0 5px;
}
ul.tabs.secondary li a {
  padding: 3px 10px;
  font-size: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-transform: uppercase;
}
ul.tabs.secondary li a.active {
  background: #7a9c66;
  border: none;
  color: #fff;
}
ul.tabs.secondary li a.active:hover {
  background: #5b744c; 
}
/*---------taxonomy---------*/
.taxonomy {
  display: inline;
  width: auto;
}
.taxonomy ul {
  display: inline;
  padding: 0;
}
.taxonomy ul li {
  display: inline;
}
.taxonomy ul li:after {
  content: ",";
}
.taxonomy ul li.last:after {
  content: "";
}
.date {
  background: #7a9c66;
  color: #fff;
  display: block;
  float: left;
  font-size: 11px;
  margin: 5px 10px 5px 0;
  width: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.date .month,
.date .day,
.date .year {
  display: block;
  text-align: center;
}
.date .day {
  color: #333;
  font-size:  25px;
  padding: 5px 0;
}
.info {
	margin: 5px 0;
}
/*-------- teaser view --------*/
.teaser-view {
  background: #fff;
  margin: 0 0 30px 0;
}
.links {
	clear: both;
}
.links ul.links.inline {
  color: #555;
  padding: 0;
  margin: 15px 0;
}
.links ul.links.inline li {
  display: inline;
  margin: 0 10px 0 0;
  font-size: 11px;
  text-transform: uppercase;
}
.links ul.links.inline li a {
  padding: 4px 10px;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.links ul.links.inline li a:hover {
  background: #7a9c66;
  color: #fff;
}
/*---------pager----------*/
ul.pager {
  padding: 3px;
  margin: 10px 0 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
ul.pager li {
  margin: 0;
  padding: 0;
}
ul.pager li a {
  text-decoration: none;
  padding: 5px;
}
ul.pager li a:hover {
   background: #fff;
}
.picture {
  float: left;
  margin: 0 10px 0 0;
}
/*-------------comments----------*/
#comments {
  padding: 15px 0 0;
  margin: 5px 0;
}
.comment {
  padding: 15px;
  position: relative;
  margin: 15px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.comment h4 {
  margin-bottom: 5px;
  width: 90%;
}
.comment p {
  margin: 15px 0;
}
.comment ul.links {
  padding: 0;
}
.comment ul.links li {
  display: inline;
  margin: 0 10px 0 0;
}
.comment ul.links li a {
  padding: 3px 10px;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.comment ul.links li a:hover {
  background: #7a9c66;
  color: #fff;
}
.comment .new {
  background: #7a9c66;
  color: #fff;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  top: 0;
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
}
/*---------block--------*/
label {
  font-weight: normal !important;
}
.block {
  margin: 10px 0 20px;
}
.block h3 {
  margin-bottom: 6px;
}
#sidebar #search-block-form input[type=text] {
  float: left;
  margin: 0 10px 0 0;
  width: 68%;
}
#sidebar #user-login-form label {
  float: left;
  padding: 6px 0 0;
  margin: 0 12px 0 0;
}
#sidebar #user-login-form input[type=text],
#sidebar #user-login-form input[type=password] {
  width: 69%;
}
#sidebar #user-login-form input[type=submit] {
  float: right;
}
#sidebar #user-login-form ul li {
  font-size: 11px;
  margin: 0 0 0 80px;
  list-style: none;
  text-align: left;
}
/*-------bottom boxes--------*/
#boxes {
  clear: both;
}
#boxes .wrapper {
  padding: 30px;
}
#boxes .box {
 border-right: 1px dotted #ccc;
  float: left;
  padding: 0 29px;
  width: 270px;
}
#boxes .box.right {
  padding-right: 0;
}
#boxes .box.right {
  border: none;
}
/*---------footer------*/
#footer {
  font-size: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  text-decoration: none;
}
#footer a:hover {
  color: #111;
}
#footer ul li {
  display: inline;
  margin: 0 10px;
}
.admin-panel .body ul.menu {
  line-height: 1.2em;
  list-style: none;
  padding: 5px 5px 5px 0;
}
.admin-panel .body ul.menu li.leaf a,
.admin-panel .body dl.admin-list dt a,
.admin-panel .item-list ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}
.admin-panel .body ul.menu li.leaf a:hover,
.admin-panel .body dl.admin-list dt a:hover,
.admin-panel .item-list ul li a:hover {
  border: none;
  color: #000;
}
.admin-panel h3 {
  background: #7a9c66;
  color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.node-type-list dd,
.admin-list dd {
  border-bottom: 1px dotted #ddd;
  color: #555;
  margin-bottom: 15px;
  padding: 10px 5px 15px;
}
.admin-panel p.description,
.admin-panel .body dl.admin-list dd {
  border: none;
  color: #555;
  font-size: 11px;
  padding: 5px 0;
}
.admin-panel .body dl.admin-list dd {
  padding: 0 10px 10px;
  margin: 0 0 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.admin-list a,
.node-type-list a {
  color: #7a9c66;
  text-transform: uppercase;
}
.admin-list a:hover,
.node-type-list a:hover {
  color: #333;
  text-decoration: none;
}
.admin-panel .item-list {
  margin: 0 0 10px 0;
}
.admin-panel .item-list ul{
  padding: 0;
}
.admin-panel ul li{ 
  list-style: none;
  margin-left: 0;
}
.admin-panel .item-list ul li a {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.compact-link {
	margin: 0 5px 10px;
}
fieldset {
  font-size: 11px;
  line-height: 1.5em;
  margin: 10px 5px;
  padding: 4px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
fieldset .fieldset-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
fieldset.collapsible .fieldset-title  {
  cursor: pointer;
}
html.js fieldset.collapsed {
  height: 1.5em;
  padding: 5px 9px;	
  margin-bottom: 10px;
}
fieldset.collapsible.collapsed  .fieldset-title {
  color: #fff;
  margin-bottom: 0;
}
.form-item {
  margin: 5px 0;
}
html.js fieldset.collapsed * {
	display: block;
}
fieldset.collapsible.collapsed .fieldset-body {
  display: none;
}
html.js fieldset.collapsible .fieldset-wrapper {
 overflow:auto;
}
html.js fieldset.collapsed {
  background: #7a9c66;
}
.container-inline fieldset {
  padding: 10px;
  margin: 10px 0;
}
table {
  font-size: 11px;
  margin: 5px 0;
  width: 100%;
}
table th,
table td {
  padding: 7px;
  vertical-align: middle;
}
table th.select-all,
table td .form-item {
  text-align: center;
}
table td.block {
  padding: 8px;
}
thead th,
thead th a {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
tr th a {
  color: #111;
  text-transform: uppercase;
}
table tbody tr.even {
  border: none;
}
div.error,
div.warning,
div.status {
  border: none;
  line-height: 1.4em;
  margin: 0 0 15px 0;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.help {
  color: #444;
  margin: 10px 5px;
}
.help .more-help-link {
  text-align: right;
}
/*-------vertical tabs support---------*/
.vertical-tabs {
  border-color: #ddd;
  margin: 0 5px 10px;
  padding: 0 0 0 179px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.vertical-tabs fieldset{
  background: transparent;
}
.vertical-tabs .fieldset-title {
  font-size: 12px;
  margin: 10px 5px;
}
.vertical-tabs ul.vertical-tabs-list li,
.vertical-tabs ul.vertical-tabs-list li a {
  list-style: none;
}
.vertical-tabs ul.vertical-tabs-list a strong {
  color: #333;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}
ul.vertical-tabs-list,
ul.vertical-tabs-list li.first,
ul.vertical-tabs-list li.first a {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
}
ul.vertical-tabs-list,
ul.vertical-tabs-list li.last,
ul.vertical-tabs-list li.last a {
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}
/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/
body {
  background: #fff;
}
code {
  background: #ddd;
  border: 1px solid #ccc;
}
input[type=submit] {
  background: #e6e6e6;
  border: 1px solid #ddd;
  color: #444;
}
input[type=text],
input[type=password],
textarea {
  background: #fff;
  border: 1px solid #ddd;
}
#header a {
  color: #fff;
}
#logo h1#site-name a {
  color: #eee;
}
#nav ul li a {
  color: #ddd;
}
#sidebar {
  background: #f1f1f1;
}
#sidebar a,
.box a {
  color: #444;
}
ul.tabs.primary li a {
  border-color: #ddd;
  background: #e6e6e6;
  color: #888;
}
ul.tabs.primary li a.active,
ul.tabs.primary li.active a {
  border-color: #eee;
}
ul.tabs.primary li a:hover {
  background: #ddd;
}
ul.tabs.secondary li a {
  background: #ddd;
}
.date .day {
  background: #eee;
}
.links ul.links.inline li a {
  background: #e6e6e6;
}
ul.pager {
  background: #e6e6e6;
}
#comments {
  border-top: #eee 1px solid;
}
.comment {
  background: #eee;
}
.comment.odd {
  background: #f4f4f4;
}
.comment ul.links li a {
  background: #ddd;
}
#footer {
  background: #dadada;
  color: #555;
}
#footer a {
  color: #555;
}
.admin-panel .body ul.menu li.leaf a,
.admin-panel .body dl.admin-list dt a,
.admin-panel .item-list ul li a {
  background: #eee;
  color: #333;
}
.admin-panel .body ul.menu li.leaf a:hover,
.admin-panel .body dl.admin-list dt a:hover,
.admin-panel .item-list ul li a:hover {
  background: #ddd;
}
.admin-panel .body dl.admin-list dd {
  background: #eee;
}
fieldset {
  background: #f1f1f1 none repeat scroll 0 0;
}
fieldset fieldset {
  background: #e5e5e5;
}
fieldset fieldset fieldset {
  background: #d9d9d9;
}
fieldset .fieldset-title {
  color: #333;
}
table {
  background: #f1f1f1;
  border: 1px solid #eee;
  color: #333;
}
table th,
table td {
  background: #f5f5f5;
  border: 1px solid #DDDDDD;
}
table td.region {
  background: #eaeaea;
}
thead th,
thead th a {
  background: #eaeaea;
}
tr th a {
  color: #111;
}
table tbody tr.odd td {
  background: #fff;
  border: 1px solid #DDDDDD;
}
div.error,
div.warning,
div.status {
  background: #f1f1f1;
}
.vertical-tabs {
  border-color: #ddd;
}
.vertical-tabs ul.vertical-tabs-list a .summary {
  color: #666;
}
#header {
  background: #000 url(images/headerbg.png) repeat-x 0 100%;
}
#boxes {
	background: #f8f8f8;
}
#nav ul ul li {
  background: #222;
}
#nav ul li.expanded a:hover,
#nav ul li.expanded.sfHover a,
#nav ul li.expanded.sfHover a.active {
  background: #222;
}
/*---------feature----------*/
#feature {
  background: transparent url(images/featurerpt.png) repeat-x 0 0;
  color: #fff;
  clear: both;
  height: 261px;
  overflow: hidden;
}
#feature .wrapper {
  background: transparent url(images/featurebg.png) no-repeat 0 0;
  color: #fff;
  clear: both;
  height: 261px;
}
#feature .block {
	margin: 0;
	padding: 20px;
}
#feature a {
	color: #fff;
}
#feature h3 {
	color: #fff;
}